@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Sacramento&family=Source+Code+Pro:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f8ff;
    margin: 0;
    text-align: center;
    
    justify-content: center;
    overflow-x: hidden;
}
 
.first{
    position: absolute;
    bottom: 62%;
    left: 40%;
    margin: 0;
    
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}


.first h1{
    font-size: 5.569rem ;
    margin: 0;
    font-family: 'Sacramento', cursive;
    color:  #66BFBF;
    line-height: 2;
}

p {
    font-size: 1.1rem;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    margin-top: .8rem ;
    line-height: 2;
}

.skill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}   

.profile{
    width: 50%;
    margin: 0 auto;
}

/* .development{
    clear: left;
} */

.skills-img{
    width: 25%;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
}   

/* .designer{
    clear: right;
} */

.pro{
    font-family: 'Poppins', sans-serif;  
}


.cloud{
    position: absolute;
    width: 37.5rem;
    right: -4% ;
    bottom: 53%;
}

.cloud-1{
    position: absolute;
    left:100px;
    bottom: 24%;
    width: 37.5rem;
}

.top-container{
    padding-top: 5%;
position: relative;
background-color: #aadddf;
}

.intro{
    width: 40%;
    margin: auto;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
    font-weight: normal;  
    color:  #66BFBF;
}

 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color:  #11999E;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.contact-message{
    width: 40%;
    margin: 40px auto;
}

.btn{
    border: 2px solid #11999E; 
    background: white;
    color: #11999E;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    background-color: #f5f8ff;
}

.btn:hover{
    color: #f5f8ff;
    background: #11999E;
}


.bottom-container{
    background-color: #11999E;
    margin: 0;
    padding: 50px 0 20px;
    font-size: 1.2rem;
}


.footer-link{
    text-decoration: none;
    color: #82caca;
    margin: 1rem;

}

.footer-link:hover{
    color: #f5f8ff;
    background-color: #11999E;
    border-radius: 6px;
    border: 2px solid #66BFBF;
    padding: 5px;


}

.fotter{
    font-family: serif;
    color: #66BFBF;
    font-style: normal;
    font-size: .8rem;
    font-weight: 600;
    padding: 20px 0;
}

.fotter span{
    text-decoration: underline;
}

.middle-container{
    margin: 100px 0;
}

